# Application
PORT=8080
ENV=development
TIMEZONE=Asia/Tehran

# Database
DB_HOST=postgres
DB_PORT=5432
DB_USER=nutritrack
DB_PASSWORD=nutritrack_secret
DB_NAME=nutritrack
DB_SSLMODE=disable

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# JWT
JWT_ACCESS_SECRET=change_me_access_secret_32chars_min
JWT_REFRESH_SECRET=change_me_refresh_secret_32chars_min
JWT_ACCESS_TTL_MIN=15
JWT_REFRESH_TTL_DAY=7

# SMS (Kavenegar)
KAVENEGAR_API_KEY=your_kavenegar_api_key
KAVENEGAR_OTP_TEMPLATE=verify
